<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Angular Project Model">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="./styles/assets/glasscat.png">
    <title><% projectName %></title>
    <!-- Custom styles for this template -->
    <link href="./styles/css/home-page.css" rel="stylesheet">
  </head>
  <body>
    <h1>
      <img class="main-logo" src="./styles/assets/glasscat.png"/><% projectName %>
    </h1>
    <h3>Angular bootstrap for GlassCat Application Server.</h3>
    <p>
      The Angular Project Model provides a well structured project for building
      single page applications with JEC.
    </p>
    <p>
      <a href="./app" class="btn btn-lg btn-secondary">Run Angular App &raquo;</a>
    </p>
  </body>
</html>