<h3>Second component</h3>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-image src="assets/img/chartreux-avatar.jpg">
    </div>
    <mat-card-title>Chartreux</mat-card-title>
    <mat-card-subtitle>Cat Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/chartreux.jpg">
  <mat-card-content>
    <p>
      The Chartreux is a rare breed of domestic cat from France and is
      recognised by a number of registries around the world. The Chartreux is
      large and muscular with relatively short, fine-boned limbs, and very fast
      reflexes.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>